{% extends "admin/change_form.html" %}
{% load i18n admin_urls menu_tags %}

{% block after_field_sets %}
    <div class="module">
        <h2>{% trans "Menu Items" %}</h2>
        <ul>
            {% for item in items %}
                {% recur item as menu %}
                <li>
                    <a href="{% url 'admin:menu_menuitem_change' menu.menu_item.id %}">{{ menu.menu_item.name }}</a>
                    {% if menu.children %}
                        <ul>
                            {% for child in menu.children %}
                                {% include "admin/menu/menuitem_subtree.html" with menu_item=child %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}