{% extends 'base.html' %}
{% load menu_tags %}
{% block title %} <title> DEMO MENU </title> {% endblock %}
{% block content %}
    {% draw_menu 'gpus' %}
    <h1> GPUs </h1>
    <p class="lead mb-4"> lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, alias asperiores aspernatur atque autem
        commodi consequatur cumque cupiditate delectus doloremque doloribus ducimus ea earum eius eligendi error
        excepturi exercitationem explicabo facere fugiat fugit hic id illum impedit in incidunt ipsa ipsum iure
        laboriosam laborum libero magnam maiores maxime minima minus molestiae mollitia natus nemo neque nihil nisi
        nobis non nostrum nulla numquam obcaecati officia officiis omnis pariatur perferendis perspiciatis placeat
        possimus praesentium provident quae quaerat quam quas quia quibusdam quisquam quod quos ratione recusandae
        repellat repellendus reprehenderit repudiandae rerum saepe sapiente sequi similique sit soluta sunt suscipit
        tempora temporibus tenetur totam ullam unde ut vel veniam veritatis voluptas voluptate voluptatem voluptates
        voluptatum. </p>
{% endblock %}
